<p id="notice"><%= notice %></p>
<h1>Lesson - <%=@lesson.id%></h1>

<%= link_to 'New My dictionary', new_lesson_my_dictionary_path, class: "btn btn-info" %>
<%= link_to 'Rus - Eng', rus_eng_lesson_my_dictionaries_path, class: "btn btn-info" %>
<%= link_to 'Eng - Rus', eng_rus_lesson_my_dictionaries_path, class: "btn btn-info" %>
<br>
<br>
<table class="table table-bordered table-striped ">
  <thead>
    <tr>
      <th class="col-md-2">Rus</th>
      <th class="col-md-2">Eng</th>      
      <th>Voice</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @lesson.my_dictionaries.each do |my_dictionary| %>
      <tr>
        <td><%= my_dictionary.rus %></td>
        <td><%= my_dictionary.eng %></td>
        <%= audio_tag "out/#{my_dictionary.eng}.mp3", id:my_dictionary.eng %>
        <td><button class="btn-sm btn-info span1", onclick="document.getElementById('<%=my_dictionary.eng.to_s%>').play()"><i class="glyphicon glyphicon-play"></i></button></td>
        
        <td><%= link_to 'Edit', edit_lesson_my_dictionary_path(@lesson.id, my_dictionary), class: "btn-sm btn-info" %></td>
        <td><%= link_to 'Destroy', [@lesson, my_dictionary], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



